.navigation {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  
    .logo-div {
      height: 100%;
      width: 175px;
      padding: 5px;
      margin: -48px 0 -48px -10px;
    }

    .logo-div:active {
      transform: translateY(2px);
    } 

     
    .nav-links-div {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .nav-link {
        padding: 10px 15px;
        cursor: pointer;
      }

      .nav-link:hover {
        text-decoration: underline;
        text-underline-offset: 10px ;
      }

      .nav-link:active {
        transform: translateY(2px);
      }
    }
  }
  