.cart-icon-container {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    .shopping-icon {
      width: 35px;
      height: 35px;

    }
  
    .item-count {
      background-color: #758bfd;
      min-width: 25px;
      padding: 2px 6px;
      border-radius: 10px;
      position: absolute;
      font-size: 11px;
      bottom: 25px;
      left: 25px;
      font-family: 'Inter', sans-serif;
      text-align: center; 
    }
  }
  