
.checkout-container {
  width: 62%;
  min-height: 50vh;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;
  border: 1px solid black;
  padding: 30px;
  border-radius: 25px;

  .checkout-header {
    width: 100%;
    padding: 10px 10px 5px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .header-block {
      text-transform: capitalize;
      width: 23%;
      
      span{
          font-size: 14px;
      }

      &:last-child {
        width: 8%;
      }
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 20px;
    margin-bottom: 20px;
  }
}

