body {
  margin: 0;
  padding: 20px 40px;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a {
  text-decoration: none;
  color: black;
}

*
{
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-family: 'Shadows Into Light Two', cursive;
  letter-spacing: 4px;

}